@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
:root{
   --color-bg: #162036;
   --color-blue: #578fc7; 
   --color-green: #99eeb4;;
   --color-gray: rgb(180, 179, 179);
}

*, ::after, ::before {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
}

a{
  text-decoration: none;
}

body{
  background: var(--color-bg); 
  color:   white;
  font-family: 'Open Sans', sans-serif;
  font-size:  24px;
}

.container {
  padding: 2rem;
}

.card{
  border-radius: 10px;
  height: fit-content;
  font-size:20px;
  text-align: center;
  margin: 1rem;
 }

 .card__header{
   margin: 60px auto 0 ;
 }
 

.card-temp{
  margin: auto;
  max-width: 400px;  
}

.card-city {
  background: #39538d;
  color: white;
  width: 200px;
  height: 80px !important;
  line-height: 80px;  
  cursor: pointer;
  transition: 0.5s;
}
.card-city:hover{
  background:  var(--color-blue);
}

.card__time{
  color: var(--color-gray);
  font-size: 16px;
}
.card__temp {
  color: var(--color-green);
  font-size:90px;
  margin-top: 20px;
  margin-bottom:0px;
  font-weight: bold;
  text-align: center;
}

.card__unit{
  font-size:22px;
  margin-left: -23px;
  color: var(--color-gray);
  font-weight: 200;
}
.card__desc{
  color: var(--color-gray);  
  font-size: 16px;
}
.cities-list {
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.table {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  font-size: 20px;
  border: solid 2px var(--color-blue);
  border-radius:10px;
  text-align: center;
}

.table__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.table__col span{
   padding:15px;
} 

.table__col span:first-child{
  width:  100%;
  font-weight: bold;  
  border-bottom: solid 2px var(--color-blue);
} 

.table__col:not(:last-child){
  border-right: solid 2px var(--color-blue);
} 

.icon{
  margin-bottom: -3px;
  margin-right: 10px;
  color: var(--color-green);
}


h3 {
   color:  white;
   font-weight: bold;
   text-align: center;
   margin: 50px auto;
}

text{
  text-anchor: center;
}

 .axis path, .axis line {
  stroke: #3c3d3d;
}
.axis text{
  fill: var(--color-blue);
  font-size:14px;
}

.bar{
  fill: #FF7F50;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.bar:hover{
  fill : var(--color-blue);
}

.tooltip{
  fill : var(--color-blue);
  text-anchor: center;
  font-weight: bold;
}

.loader-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.loader{
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color-green);
  border-color: var(--color-green) transparent var(--color-green) transparent;
  animation: loader-animation 1.2s linear infinite;
}


.collapse-header{
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  background: #1f2b49;
  padding: 10px; 
  margin: 30px auto;
  width: 100%;
} 

.collapse-header__icon{
  margin-left: 10px;
  margin-bottom: -3px;
} 

.collapse-header__content{
   max-width: 1400px;
   margin: auto;
   text-align: center;
} 

.enable-location{
  padding:3rem;
  margin: auto;
  text-align: center;
}

.percent {
  font-size:0.5px;
  font-weight: bold;
  text-anchor: middle;
}

.details-section {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px){
  body{
    font-size: 16px;
  }
  .axis text {
    font-size: 10px;
  }  

  .table {
    flex-direction: column;
  }
  .table__col{
    flex-direction: row;
  }

  .table__col span:first-child {
    border: none ; 
    text-align: start;
  }
  .table__col span:last-child {
    border: none ; 
    text-align: end;
  }
  
  .table__col:not(:last-child) {
    border-right: none ; 
  }
  .table__col:not(:last-child) {
    border-bottom: solid 2px var(--color-blue);
  }
 
}
