@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
:root{
   --color-gray: #ebebeb; 
}

body{
  background: #162036;
  color:   white;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

.container {
  padding: 2rem;
}

.card{
  padding: 2rem 5rem;
  border-radius: 10px;
  height: fit-content;
  font-size:20px;
  text-align: center;
  margin: 1rem;
 }
 

.card-temp{
  margin: auto;
  max-width: 400px;
}

.card-city {
  background: #39538d;
  color: white;
  width: 200px;
  height: 30px;
  line-height: 30px;  
  cursor: pointer;
  transition: 0.5s;
}
.card-city:hover{

  background:  #99eeb4;

}
.card__header{
  font-size: 22px;
  color:  #99eeb4;
}
.card__time{
  color: var(--color-gray);
  font-size: 16px;
}
.card__temp {
  color: #99eeb4;
  font-size:90px;
  margin: 20px;
  font-weight: bold;
  text-align: center;
}

.card__unit{
  font-size:22px;
  margin-left: -23px;
  color: var(--color-gray);
  font-weight: 200;
}
.card__desc{
  color: var(--color-gray);  
  font-size: 16px;
}
.cities-list {
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

table {
  margin: 20px auto;
}


tbody {
  display: flex;
  flex-direction: row;
  width:  100%;
}
tr{
  flex-basis: 100%;
  display: block;
}

th {
  background: #0066CC;
  padding: 10px;
}

text{
  text-anchor: center;
}

 .axis path, .axis line {
  stroke: #3c3d3d;

}

.axis text{
  fill: #578fc7; 
  font-size:14px;
}

.bar{
  fill: #FF7F50;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.bar:hover{
  fill : #578fc7; 
}

.tooltip{
  fill: #578fc7; 
  text-anchor: center;
  background: black;
  font-weight: bold;
}

svg {
  max-width:  1400px;
  margin: auto;
}

@media screen and (max-width: 768px){
  .axis text {
    font-size: 10px;
  }  
}
